# Python virtual environment
venv/
Backend/venv/
env/
ENV/

# Node modules (React / MERN)
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Coverage / test
.coverage
htmlcov/

# Misc
*.sqlite3

# Database
*.db
Backend/data/*.db

# Frontend
Frontend/node_modules/
Frontend/build/
